<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="regerationSuite">

<parameter name="browserName" value="chrome"></parameter>
<listeners>
<listener class-name="com_inetBanking_Utility.Listner"/>
</listeners>

  <test thread-count="5" name="Test">
    <classes>
      <class name="com.InetBanking.TestLayer.NewAccountTestLayer"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- regerationSuite -->
